<div class="main-container">
  <div class="form-wrapper">
    <div class="form">
      <form action="/artists" method="get">
        <input type="text" name="searchInput" id="input field">
        <button type="submit">search for an artist</button>
      </form>
    </div>
  </div>
</div>